@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

:root{
    --font-family: 'Montserrat';
    --bg-color: #5356738b;
    --font-color: #ECECEC;
    --cor-secundaria: #5551e8;
    --border-color: #282A3A;
}


body{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--font-color);
    font-family: var(--font-family);
    font-weight: 700;
    background: linear-gradient(to bottom,#212438,#282A3A, #121214);
}

.container{
    width: min(100% - 30px, 840px);
    height: 100%;
}

header{
    width: 100%;
    display: flex;
    height: 90px;
    align-items: center;
    padding: 0 6%;
    gap: 10px;
}

.principal{
    display: flex;
    width: 100%;
    height: 450px;
    justify-content: space-between;
    margin-top: 50px;
}

.logo-mercado{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../images/payments.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.formulario{
    display: grid;
    width: 40%;
    grid-template-rows: repeat(5, 80px);
    background-color: var(--bg-color);
    align-items: center;
    justify-items: center;
    align-content: center;
    border-radius: 5px;
}

.titulo-formulario{
    text-align: center;
    align-self: baseline;
    border-bottom: 1.5px solid var(--border-color);
    padding: 0 10px 30px 10px;
}

.formulario input{
    width: 70%;
    height: 35px;
    font-size: 17px;
    background: #ffffff10;
    color: var(--font-color);
    border: none;
    border-bottom: 2px solid var(--cor-secundaria);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 10px;
}

.formulario .adicionar{
    width: 200px;
    height: 35px;
    cursor: pointer;
    background-color: var(--cor-secundaria);
    color: var(--font-color);
    border: none;
    border-radius: 5px;
    font-family: var(--font-family);
    font-weight: 600;
}

.check{
    position: absolute;
    width: 80px;
    height: 80px;
    top: 35%;
    left: 45%;
    background-image: url('../images/check.gif');
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    z-index: 1;
}

.lista-compras{
    width: auto;
    height: auto;
    margin-top: 50px;
    background-color: var(--bg-color);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}

.lista-compras .item{
    position: relative;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    height: 75px;
    border-bottom: 2px solid var(--border-color);
    border-radius: 10px;
    padding: 5px;
}

.lista-compras li:hover{
    background-color: var(--bg-color);
}


.lista-compras > .item >.item__quantidade{
    display: flex;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    background-color: var(--border-color);
    align-items: center;
    justify-content: center;
}

.lista-compras > .item >.item__valor-unitario{
    width: auto;
    height: 20px;
    align-items: center;
    position: absolute;
    left: 10px;
    bottom: 5px;
}

.lista-compras > .item >.deletaItem{
    color: #ECECEC;
    position: absolute;
    right: 10px;
    bottom: 5px;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 18px;
}

.lista-compras > .item > .alteraItem{
    color: #ECECEC;
    position: absolute;
    right: 60px;
    bottom: 5px;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 18px;
}

.lista-compras > .item >.alteraItem:hover{
    scale: 1.2;
    transition: 0.1s;
    color: var(--cor-secundaria);
}

.lista-compras > .item >.deletaItem:hover{
    scale: 1.2;
    transition: 0.1s;
    color: var(--cor-secundaria);
}

.info-lista{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    width: auto;
    height: 30px;
    margin-top: 20px;
    padding: 10px;
}

.info-lista > p{
    flex: auto;
}

.info-lista >.btn{
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: var(--cor-secundaria);
    color: var(--font-color);
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

.valor-total{
    display: flex;
    width: auto;   
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
    font-size: 20px;
    
}

.ilus{
    width: auto;
    height: 250px;
    background-image: url('../images/cart2x.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 40px;
}

.valor-total >.total{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 40px;
    background-color: var(--bg-color);
    border-radius: 5px;
}

.autor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 100px;
    margin-top: 40px;
}

.autor strong{
    color: var(--cor-secundaria);
    font-weight: bold;
    font-style: oblique;
}

.autor a{
    cursor: pointer;
    text-decoration: none;
}

.autor a:hover{
    scale: 1.2;
    transition: 0.3s;
}

.tabela{
    display: none;
}


@media screen and (max-width: 576px) {

    body{
        height: 100%;
        font-size: 17px;
    }

    header{
        width: auto;
    }

    .principal{
        height: 750px;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .titulo-formulario{
        text-align: center;
    }

    .logo-mercado{
        width: 90%;
        height: 40%;
    }

    .formulario {
        width: 90%;
        height: 70%;
    }

    .lista-compras li{
        align-items: baseline;
        position: relative;
        height: 80px;
    }

    .lista-compras > li >.valor-unitario{
        left: 10px;
        bottom: 5px;
    }

    .valor-total .total{
        width: 150px;
    }

    .check{
        top: 80%;
        left: 40%;
    }

    .info-lista >.btn{
        font-size: 15px;
    }
    
}

@media screen and (max-width: 375px) {

    body{
        height: 100%;
        font-size: 16px;
    }

    header{
        width: auto;
    }

    .titulo-formulario{
        width: 90%;
        text-align: center;
    }

    .logo-mercado{
        width: 95%;
        height: 40%;
    }

    .formulario {
        width: 95%;
        height: 70%;
    }
}
    










